{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_product %}
    <li><a href="{% url 'webapp:product_update' product.pk %}">Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_product %}
    <li><a href="{% url 'webapp:product_delete' product.pk %}">Delete</a></li>
    {% endif %}
    <li>{% include 'partial/cart_add_form.html' %}</li>
{% endblock %}

{% block content %}
    <div class="box">
        <h1>{{ product.name }}</h1>
        <p>Категория: {{ product.get_category_display }}</p>
        <p>Осталось: {{ product.amount }} по {{ product.price  }} сом</p>
        <p class="pre">{{ product.description }}</p>
    </div>
{% endblock %}
